:root{
    --colorOne: rgb(59,48,85);
    --colorTwo: #16151d;
    --colorThree: rgb(255,208,90);
    --colorFour: #EEEEEE;
    --colorFive: #3E432E;
    --greyy: rgb(88, 85, 104);
    --whitee: rgb(218, 216, 236);
}
html{
  font-family: monospace;
  width: 350px;
  margin: 0;
  padding: 0;
  background-color: var(--colorTwo);
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorTwo);
  color: var(--whitee);
  padding-bottom: 5px;
}
p {
  margin: 0;
  padding: 0;
}
#headerBox{
  background-color: var(--colorTwo);
  margin-left: 2.5%;
}
#trackedCurrencyListOptionsBarContainer {
  display: flex;
  flex-direction: row;
}
#trackedCurrencyListOptionsBarContainer > #trackedCurrencyListSelectConvertCurrencyDropDown, #trackedCurrencyListRemoveCurrencyButton, #trackedCurrencyListAddCurrencyButton {
  margin-right: 0;
  margin-left: auto;
}
#trackedCurrencyListOptionsBarContainer > #trackedCurrencyListSelectConvertCurrencyDropDown select, button{
  background-color: var(--greyy);
  color: var(--whitee);
  border-radius: 5px;
  border: 1px solid var(--whitee);
}
#trackedCurrencyListContainer {
  display: grid;
  gap: 5px;
  width: 95%;
  margin-left: 2.5%;
}
#trackedCurrencyListContainer .currencyContainer {
  display: grid;
  height: 40px;
  margin: 0;
  padding: 0;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr 1.5fr 1.5fr 2fr;
  background-color: var(--greyy);
  border-radius: 5px;
  border: 1px solid var(--whitee);
  padding-top: 5px;
}
#trackedCurrencyListContainer .currencyContainer:hover {
  background-color: rgb(0, 51, 16);
}
.currencyLogoContainer{
  display: flex;
  grid-column: 1/ span 1;
  grid-row: 1/ span 2;
}
.currencyLogoContainer img {
  width: 75%;
  height: 75%;
  align-self: center;
  margin-left: 12.5%;
}
.currencyNameContainer p {
  font-size: medium;
}
.currencyWalletConvertedContainer, .currencyOneUnitConvertedContainer, .currencyOneUnitLabelContainer, .currencyWalletLabelContainer{
  text-align: right;
  padding-right: 5px;
}