:root {
  --main: #0f0a0a;
  --panelColor: rgb(97, 79, 141);
  --greyy: rgb(0, 82, 102);
  --whitee: rgb(218, 216, 236);
}
html {
  width: 375px;
  margin: 0;
  padding: 0;
  background-color: var(--main);
  color: var(--whitee);
}
body {
  font-family: "Inconsolata", monospace;
  font-size: medium;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 5px;
}
p {
  margin: 0;
  padding: 0;
}
#headerBox {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 5fr 1fr;
  width: 95%;
  margin-left: 2.5%;
}
#headerImageContainer {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 5px;
}
#headerTextContainer {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  padding-left: 10px;
}
#headerSettingsIconContainer {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
  display: flex;
}
#headerSettingsIconContainer button {
  background-color: var(--main);
  border: none;
  padding: 0;
  padding-top: 5px;
  align-self: center;
  margin-left: 30%;
  cursor: pointer;
}

#miCoinsHeaderContainer {
  padding: 0;
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
  gap: 5px;
  width: 95%;
  margin-left: 2.5%;
}
#miCoinsHeaderContainer h3 {
  margin: 0;
  padding: 0;
  line-height: 30px;
  vertical-align: middle;
}
#walletTotal {
  text-align: right;
  line-height: 30px;
  vertical-align: middle;
  padding-right: 5px;
  grid-column: 2 / span 3;
}

#trackedCurrencyListContainer {
  display: grid;
  gap: 5px;
  cursor: default;
  width: 95%;
  margin-left: 2.5%;
}
#trackedCurrencyListContainer .currencyContainer {
  display: grid;
  height: 60px;
  margin: 0;
  padding: 0;
  grid-template-rows: repeat(2, 30px);
  grid-template-columns: 1fr;
  background-color: var(--greyy);
  border-radius: 5px;
}
.rowOne {
  display: grid;
  grid-template-columns: 30px auto 130px;
  grid-template-rows: 1fr;
  margin: 2px;
}
.rowTwo {
  display: grid;
  grid-template-columns: auto 130px;
  grid-template-rows: 1fr;
  margin: 2px;
  padding-left: 2px;
}
.currencyLogoContainer {
  width: 30px;
  padding-left: 2.5px;
  padding-top: 2.5px;
}
.currencyNameContainer {
  padding-left: 2px;
  font-size: large;
  font-weight: bold;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  line-height: 30px;
  vertical-align: middle;
}
.currencyWalletLabelContainer {
}
.currencyOneUnitLabelContainer {
}
.currencyOneUnitConvertedContainer {
  line-height: 30px;
  vertical-align: middle;
}
.currencyWalletConvertedContainer {
}
.currencyWalletConvertedContainer,
.currencyOneUnitLabelContainer,
.currencyWalletLabelContainer {
  text-align: right;
  line-height: 30px;
  vertical-align: middle;
  padding-right: 5px;
}
.currencyWalletLabelContainer {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 1fr;
}
.currencyWalletLabel {
  padding-right: 5px;
}
.walletAmount:hover,
.walletAmount:focus {
  cursor: pointer;
  background-color: var(--main);
  border-radius: 5px;
  padding-right: 7.5px;
  outline: none;
}
